body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.selected {
  border: 1.5px solid whitesmoke;

}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: lightskyblue;
  
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  color: navy;
  padding: 1rem;
  text-decoration: none;
  
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}